@import "styles/normalise";
@import "styles/boilerplate";

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "Inter";

    main {
        background-color: hsl(0, 0%, 8%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 2.5rem;

        article {
            background-color: hsl(0, 0%, 12%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2.5rem;
            border-radius: 1.2rem;
            width: 100%;
            max-width: 385px;

            img {
                border-radius: 50%;
                width: 8.8rem;
                cursor: pointer;
                transition: all 0.2s;

                &:hover {
                    transform: scale(110%);
                    outline: 2px solid hsl(75, 94%, 57%);
                    outline-offset: 3px;
                }

                &:focus {
                    transform: scale(110%);
                    outline: 2px solid hsl(75, 94%, 57%);
                    outline-offset: 3px;
                }
            }

            h1 {
                color: #fff;
                font-size: 23.25px;
                letter-spacing: 0.5px;
                margin-block: 2.85rem 1.1rem;
                font-weight: 600;
            }
            
            span {
                color: hsl(75, 94%, 57%);
                letter-spacing: 0.15px;
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 2.9rem;
            }

            p {
                color: #ccc;
                font-size: 1.4rem;
                font-weight: 400;
                margin-bottom: 2.65rem;
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 100%;
                text-align: center;

                a {
                    background-color: hsl(0, 0%, 20%);
                    color: #fff;
                    font-size: 1.4rem;
                    letter-spacing: 0.15px;
                    font-weight: 600;
                    border-radius: 0.85rem;
                    padding-block: 1.5rem 1.4rem;
                    transition: all 0.2s;

                    &:hover {
                        background-color: hsl(75, 94%, 57%);
                        color: #000;
                    }

                    &:focus {
                        background-color: hsl(75, 94%, 57%);
                        color: #000;
                    }
                }
            }
        }
    }
}

@media screen and (width >= 425px) {
    article {
        padding: 4rem !important;
    }
}
